<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <h1>Bogie</h1>
    <div id="content">
      <div id="scenes">
        <button id="rect-rect-collision">Rectangle Collision</button>
        <button id="circ-circ-collision">Circle Collision</button>
      </div>
      <div id="viewport"></div>
      <div id="code">
        <pre><code id="prism" class="language-js"></code></pre>
      </div>
    </div>
  </body>
</html>